* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#910f27;
    color:black;
}

header {background-color: #910f27;
}

.card-body {
    background-color: white;
}

.card-title{
    background-color: white;
}

.card-text {
    background-color: white;
}


